<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title> Taks </title>
</head>
<body>
{% for message in app.session.flashbag.get('error') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ message }}
</div>
{% endfor %}
<ul class="list-group">
{% for tache in app.session.get('mesTaches') %}
<li class="list-group-item">{{ tache }}</li>
{% endfor %}
</ul>
</body>
</html>